<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page - Tours</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form action="./main" method="POST">
      <input type="submit" value="Logout" />
    </form>
    <br>
    <h1>Tour list</h1>
    {{#if tours}}
    <table>
      <tr>
        <th>Name</th>
        <th>Region</th>
        <th>Country</th>
        <th>Population</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Ascent</th>
        <th>Descent</th>
        <th>Peak</th>
      </tr>
      {{#each tours}}
        <tr>
          <td>{{ this.name }}</td>
          <td>{{ this.region }}</td>
          <td>{{ this.country.name }}</td>
          <td>{{ this.country.population }}</td>
          <td>{{ this.distance }}</td>
          <td>{{ this.duration }}</td>
          <td>{{ this.ascent }}</td>
          <td>{{ this.descent }}</td>
          <td>{{ this.peak }}</td>
        </tr>
      {{/each}}
    </table>
    {{/if}}
    <br>
    <br>
    <div class="uploadDiv">
      <h1>Upload new tour</h1>
      <form action="./tours" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" />
        <br><br>
        <label for="region">Region: </label>
        <input type="text" id="region" name="region" />
        <br><br>
        <label for="country">Country: </label>
        <input type="text" id="country" name="country" />
        <br><br>
        <label for="population">Population: </label>
        <input type="number" id="population" name="population" />
        <br><br>
        <label for="distance">Distance: </label>
        <input type="number" step=0.1 id="distance" name="distance" />
        <br><br>
        <label for="duration">Duration: </label>
        <input type="number" step=0.1 id="duration" name="duration" />
        <br><br>
        <label for="ascent">Ascent: </label>
        <input type="number" id="ascent" name="ascent" />
        <br><br>
        <label for="descent">Descent: </label>
        <input type="number" id="descent" name="descent" />
        <br><br>
        <label for="peak">Peak: </label>
        <input type="number" id="peak" name="peak" />
        <br><br>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html?
